<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<footer class="footer has-background-primary">
    <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column">
                <h6>About Us</h6>
                <p class="has-text-center">Oser merupakan aplikasi pencarian kerja dalam bentuk FREELANCE yang
                    memungkinkan bagi para pengguna untuk mencari dan mendapatkan pekerjaan yang
                    mereka mau dimanapun dan kapanpun. Oser berusaha memberikan kebudahan dalam pencarian kerja,
                    proses transaksi antar user, request pekerjaan yang diinginkan, dan masih banyak lagi.
                </p>
            </div>

            <div class="column">
                <h6>Subscribe</h6>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-medium" type="email" placeholder="Email">
                    <span class="icon is-left">
              <i class="fa fa-envelope"></i>
              </span>
                </div>
                <a class="button is-success is-rounded">Subscribe</a>
            </div>
        </div>
    </div>
</footer>
<div class="has-background-success has-text-white bottom">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <p>O-Ser 2020</p>
            </div>
            <div class="column has-text-right">
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-google-plus-square"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>
